<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Edit Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informasi Pribadi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nama Lengkap</ion-label>
        <ion-input [(ngModel)]="profile.name" placeholder="Masukkan nama lengkap"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="profile.email" type="email" placeholder="Email" style="border-radius: 20px; padding: 1em;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="profile.password" type="password" placeholder="Password" style="border-radius: 20px; padding: 1em;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nomor Telepon</ion-label>
        <ion-input [(ngModel)]="profile.phone" type="tel" placeholder="Masukkan nomor telepon"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Pendidikan</ion-label>
        <ion-input [(ngModel)]="profile.education" placeholder="Masukkan riwayat pendidikan"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tanggal Lahir</ion-label>
        <ion-input [(ngModel)]="profile.birthdate" type="date" placeholder="Pilih tanggal lahir"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ganti Foto Profil</ion-label>
        <input type="file" (change)="onFileSelected($event)">
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="saveProfile()">Simpan Perubahan</ion-button>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <!-- Tab Beranda -->
    <ion-tab-button tab="beranda" routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <!-- Tab Perpustakaan -->
    <ion-tab-button tab="library" routerLink="/library">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <!-- Tab Profil -->
    <ion-tab-button tab="profil" routerLink="/profil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
